<form class="mt-4" method="post" action="">
  <div class="form-group">
    <label for="exampleInputEmail1">Nhập từ khóa </label>
    <input type="text" name="q" class="form-control" id="search" placeholder="Nhập tìm kiếm...">
  </div>
   <div class="form-group">
    <label for="gender">Nhập từ khóa </label>
    <select name="gender" class="form-control" id="gender" >
        <option value="-Chọn giới tính"></option>
        <option value="nam">Nam</option>
        <option value="nu">Nữ</option>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>